<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WinTexMNG.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MusteriKargoSiparisSoap"/>
                <binding name="SorguSoap11Binding"/>
                <binding name="SorguSoap11Binding1">
                    <security mode="Transport"/>
                </binding>
                <binding name="SorguSoap11Binding2"/>
                <binding name="SorguSoap11Binding3">
                    <security mode="Transport"/>
                </binding>
                <binding name="SorguSoap11Binding4"/>
                <binding name="ThreeWayLogisticsServiceBinding"/>
                <binding name="PaymentReportServiceBinding"/>
                <binding name="MusteriSiparisNewSoap"/>
                <binding name="BasicHttpsBinding_IArasCargoIntegrationService">
                    <security mode="Transport"/>
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="MusteriKargoSiparisSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
                </binding>
                <binding name="SorguSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpsTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
                </binding>
                <binding name="SorguSoap12Binding1">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpsTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
                </binding>
                <binding name="SorguSoap12Binding2">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpsTransport/>
                </binding>
                <binding name="MusteriSiparisNewSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://service.mngkargo.com.tr/tservis/musterikargosiparis.asmx" binding="basicHttpBinding" bindingConfiguration="MusteriKargoSiparisSoap" contract="musterikargosiparis.MusteriKargoSiparisSoap" name="MusteriKargoSiparisSoap"/>
            <endpoint address="http://service.mngkargo.com.tr/tservis/musterikargosiparis.asmx" binding="customBinding" bindingConfiguration="MusteriKargoSiparisSoap12" contract="musterikargosiparis.MusteriKargoSiparisSoap" name="MusteriKargoSiparisSoap12"/>
            <endpoint address="https://pttws.ptt.gov.tr/PttVeriYukleme/services/Sorgu.SorguHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="SorguSoap11Binding" contract="PTTService.SorguPortType" name="SorguHttpSoap11Endpoint"/>
            <endpoint address="https://pttws.ptt.gov.tr/PttVeriYukleme/services/Sorgu.SorguHttpSoap12Endpoint/" binding="customBinding" bindingConfiguration="SorguSoap12Binding" contract="PTTService.SorguPortType" name="SorguHttpSoap12Endpoint"/>
            <endpoint address="https://pttws.ptt.gov.tr/PttBilgi/services/Sorgu*" binding="basicHttpBinding" bindingConfiguration="SorguSoap11Binding1" contract="PTTBilgi.SorguPortType" name="SorguHttpSoap11Endpoint1"/>
            <endpoint address="https://pttws.ptt.gov.tr/PttBilgi/services/Sorgu*" binding="customBinding" bindingConfiguration="SorguSoap12Binding1" contract="PTTBilgi.SorguPortType" name="SorguHttpSoap12Endpoint1"/>
            <endpoint address="https://pttws.ptt.gov.tr/GonderiTakipV2/services/Sorgu*" binding="basicHttpBinding" bindingConfiguration="SorguSoap11Binding3" contract="PTTGonderiTakipV2.SorguPortType" name="SorguHttpSoap11Endpoint2"/>
            <endpoint address="https://pttws.ptt.gov.tr/GonderiTakipV2/services/Sorgu*" binding="customBinding" bindingConfiguration="SorguSoap12Binding2" contract="PTTGonderiTakipV2.SorguPortType" name="SorguHttpSoap12Endpoint2"/>
            <endpoint address="http://ee.econt.com/services/ThreeWayLogistics/ThreeWayLogisticsService.soap" binding="basicHttpBinding" bindingConfiguration="ThreeWayLogisticsServiceBinding" contract="eContThreeWayLogistics.ThreeWayLogisticsService" name="ThreeWayLogisticsService"/>
            <endpoint address="http://ee.econt.com/services/PaymentReport/PaymentReportService.soap" binding="basicHttpBinding" bindingConfiguration="PaymentReportServiceBinding" contract="eContPaymentreport.PaymentReportService" name="PaymentReportService"/>
            <endpoint address="http://service.mngkargo.com.tr/musterikargosiparis/musterisiparisnew.asmx" binding="basicHttpBinding" bindingConfiguration="MusteriSiparisNewSoap" contract="mngiade.MusteriSiparisNewSoap" name="MusteriSiparisNewSoap"/>
            <endpoint address="http://service.mngkargo.com.tr/musterikargosiparis/musterisiparisnew.asmx" binding="customBinding" bindingConfiguration="MusteriSiparisNewSoap12" contract="mngiade.MusteriSiparisNewSoap" name="MusteriSiparisNewSoap12"/>
            <endpoint address="https://customerservices.araskargo.com.tr/ArasCargoCustomerIntegrationService/ArasCargoIntegrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IArasCargoIntegrationService" contract="ArasService.IArasCargoIntegrationService" name="BasicHttpsBinding_IArasCargoIntegrationService"/>
        </client>
    </system.serviceModel>
    <applicationSettings>
        <WinTexMNG.My.MySettings>
            <setting name="WinTexMNG_com_econt_ee_NomenclaturesService" serializeAs="String">
                <value>http://ee.econt.com/services/Nomenclatures/NomenclaturesService.soap</value>
            </setting>
            <setting name="WinTexMNG_com_econt_ee1_AddressService" serializeAs="String">
                <value>http://ee.econt.com/services/Nomenclatures/AddressService.soap</value>
            </setting>
            <setting name="WinTexMNG_LabelService_LabelService" serializeAs="String">
                <value>http://ee.econt.com/services/Shipments/LabelService.soap</value>
            </setting>
            <setting name="WinTexMNG_ShipmentService_ShipmentService" serializeAs="String">
                <value>http://ee.econt.com/services/Shipments/ShipmentService.soap</value>
            </setting>
            <setting name="WinTexMNG_ProfileService_ProfileService" serializeAs="String">
                <value>http://ee.econt.com/services/Profile/ProfileService.soap</value>
            </setting>
            <setting name="WinTexMNG_com_yurticikargo_testwebservices_KOPSWebServices" serializeAs="String">
                <value>http://testwebservices.yurticikargo.com:9090/KOPSWebServices/ShippingOrderDispatcherServices</value>
            </setting>
            <setting name="WinTexMNG_tr_com_araskargo_customerservices_ArasCargoIntegrationService" serializeAs="String">
                <value>https://customerservices.araskargo.com.tr/ArasCargoCustomerIntegrationService/ArasCargoIntegrationService.svc</value>
            </setting>
            <setting name="WinTexMNG_tr_com_araskargo_customerws_Service" serializeAs="String">
                <value>https://customerws.araskargo.com.tr/arascargoservice.asmx</value>
            </setting>
            <setting name="WinTexMNG_tr_com_araskargo_customerservicestest_ArasCargoIntegrationService" serializeAs="String">
                <value>https://customerservicestest.araskargo.com.tr/ArasCargoIntegrationService.svc</value>
            </setting>
        </WinTexMNG.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
