<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="apiurl" value="https://ykkapitest.ykk.com.tr/"/>
    <add key="apiusername" value="tahagiyim1@tahagiyim.com"/>
    <add key="apipassword" value="123456Xy"/>
  </appSettings>
</configuration>