## Ignore Visual Studio temporary files
.vs/
.vscode/
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
*.log
*.pdb
Thumbs.db
Desktop.ini
*.bak
*.tmp
*.lock
packages/
*.dll
*.exe
*.pdb
*.nupkg
*.exe
*.obj
*.rar
*.zip