<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="MusteriKargoSiparisSoap"/>
        <binding name="SorguSoap11Binding"/>
        <binding name="SorguSoap11Binding1">
          <security mode="Transport"/>
        </binding>
        <binding name="SorguSoap11Binding2"/>
        <binding name="SorguSoap11Binding3">
          <security mode="Transport"/>
        </binding>
        <binding name="SorguSoap11Binding4"/>
        <binding name="AbitWsdlSoap"/>
        <binding name="BasicHttpBinding_IDespatchIntegration">
          <security mode="TransportWithMessageCredential"/>
        </binding>
        <binding name="EFaturaEntegrasyon2Soap"/>
        <binding name="BasicHttpBinding_IUrunServis">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_ICustomServis">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_IUyeServis">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_ISiparisServis">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="MusteriKargoSiparisSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
        <binding name="SorguSoap12Binding">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
        <binding name="SorguSoap12Binding1">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
        <binding name="SorguSoap12Binding2">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://service.mngkargo.com.tr/tservis/musterikargosiparis.asmx" binding="basicHttpBinding" bindingConfiguration="MusteriKargoSiparisSoap" contract="musterikargosiparis.MusteriKargoSiparisSoap" name="MusteriKargoSiparisSoap"/>
      <endpoint address="http://service.mngkargo.com.tr/tservis/musterikargosiparis.asmx" binding="customBinding" bindingConfiguration="MusteriKargoSiparisSoap12" contract="musterikargosiparis.MusteriKargoSiparisSoap" name="MusteriKargoSiparisSoap12"/>
      <endpoint address="https://pttws.ptt.gov.tr/PttVeriYukleme/services/Sorgu.SorguHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="SorguSoap11Binding" contract="PTTService.SorguPortType" name="SorguHttpSoap11Endpoint"/>
      <endpoint address="https://pttws.ptt.gov.tr/PttVeriYukleme/services/Sorgu.SorguHttpSoap12Endpoint/" binding="customBinding" bindingConfiguration="SorguSoap12Binding" contract="PTTService.SorguPortType" name="SorguHttpSoap12Endpoint"/>
      <endpoint address="https://pttws.ptt.gov.tr/PttBilgi/services/Sorgu*" binding="basicHttpBinding" bindingConfiguration="SorguSoap11Binding1" contract="PTTBilgi.SorguPortType" name="SorguHttpSoap11Endpoint1"/>
      <endpoint address="https://pttws.ptt.gov.tr/PttBilgi/services/Sorgu*" binding="customBinding" bindingConfiguration="SorguSoap12Binding1" contract="PTTBilgi.SorguPortType" name="SorguHttpSoap12Endpoint1"/>
      <endpoint address="https://pttws.ptt.gov.tr/GonderiTakipV2/services/Sorgu*" binding="basicHttpBinding" bindingConfiguration="SorguSoap11Binding3" contract="PTTGonderiTakipV2.SorguPortType" name="SorguHttpSoap11Endpoint2"/>
      <endpoint address="https://pttws.ptt.gov.tr/GonderiTakipV2/services/Sorgu*" binding="customBinding" bindingConfiguration="SorguSoap12Binding2" contract="PTTGonderiTakipV2.SorguPortType" name="SorguHttpSoap12Endpoint2"/>
      <endpoint address="http://ws.ugm.com.tr/UgmGenelWebServis/AbitWsdl.asmx" binding="basicHttpBinding" bindingConfiguration="AbitWsdlSoap" contract="ServiceRefAbit.AbitWsdlSoap" name="AbitWsdlSoap"/>
      <endpoint address="https://connect-test.crssoft.com/Services/DespatchIntegration" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDespatchIntegration" contract="DespatchConnect.IDespatchIntegration" name="BasicHttpBinding_IDespatchIntegration"/>
      <endpoint address="http://efinttestws.turkkep.com.tr/EFaturaEntegrasyon2.asmx" binding="basicHttpBinding" bindingConfiguration="EFaturaEntegrasyon2Soap" contract="SeviceRefTurkKEP.EFaturaEntegrasyon2Soap" name="EFaturaEntegrasyon2Soap"/>
      <endpoint address="https://benimpabucum.com/servis/UrunServis.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUrunServis" contract="UrunServis.IUrunServis" name="BasicHttpBinding_IUrunServis"/>
      <endpoint address="https://benimpabucum.com/servis/CustomServis.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomServis" contract="CustomServis.ICustomServis" name="BasicHttpBinding_ICustomServis"/>
      <endpoint address="https://benimpabucum.com/servis/UyeServis.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUyeServis" contract="UyeServis.IUyeServis" name="BasicHttpBinding_IUyeServis"/>
      <endpoint address="https://benimpabucum.com/servis/SiparisServis.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISiparisServis" contract="SiparisServis.ISiparisServis" name="BasicHttpBinding_ISiparisServis"/>
    </client>
  </system.serviceModel>
</configuration>
