<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UyumGatewayService.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!--<Genel/>-->
    <add key="SERVISTIPI" value="WEB"/>
    <!--<add key="SERVISTIPI" value="NORMAL" />-->
    <add key="Hr" value="0"/>
    <add key="Mn" value="5"/>
    <add key="VTB1" value="uyumsoft"/>
    <add key="SRV1" value="192.168.1.3"/>
    <add key="VTB2" value="erogludb"/>
    <add key="SRV2" value="192.168.1.6"/>
    <!--<Fatura Aktarım/>-->
    <add key="WSUs" value="uyumsoft"/>
    <add key="WSPs" value="!1qazwsx"/>
    <add key="SRV1URL" value="http://192.168.1.3:210/webservice/UyumWebService.asmx"/>
    <add key="SRV2URL" value="http://192.168.1.6/CustomPrg/XML/ErogluServices.asmx"/>
    <add key="WSLLU" value="UPDATE uyumlog.log_fatura SET xp_op = 9 WHERE xp_error like '%tekrar eden kayıt%';"/>    
    <add key="WSLLG13" value="SELECT * FROM uyumlog.log_fatura where (xp_op=0 ) and op='I' and CatCode1=0  union all SELECT * FROM uyumlog.log_fatura where (xp_op=0 ) and op='U' and CatCode1=0 and CatCode2=0  union all SELECT * FROM uyumlog.log_fatura where (xp_op=0 )  and op='D' and CatCode1=0 and CatCode2=0  order by id asc"/>
    <add key="WSLLG" value="SELECT * FROM uyumlog.log_fatura where (xp_op=0 ) and op='I' and CatCode1=0  union all SELECT * FROM uyumlog.log_fatura where (xp_op=0 ) and op='U' and CatCode1=0 and CatCode2=0  union all SELECT * FROM uyumlog.log_fatura where (xp_op=0 )  and op='D' and CatCode1=0 and CatCode2=0  order by id asc"/>    
    <add key="WNSrg" value="UPDATE uyumlog.log_fatura set xp_date = current_date, xp_op = 1, "/>
    <add key="WHSrg" value="UPDATE uyumlog.log_fatura set xp_date = current_date, xp_op = 3, "/>
    <add key="WDSrg" value="UPDATE uyumlog.log_fatura set xp_op = 9 where id = "/>
    <add key="ErkanSrgDelete" value=""/>
    <add key="ErkanSrgInsert" value=""/>
    <!--<Normal Aktarım/>-->
    <add key="SLLU" value="UPDATE uyumlog.log_finans SET xp_op = 9 WHERE xp_error like '%tekrar eden kayıt%';"/>
    <add key="SLLG13" value="SELECT * FROM uyumlog.log_fatura where (xp_op=0 or xp_op=3)   order by ID limit 100   "/>
    <add key="SLLG" value="SELECT * FROM uyumlog.log_fatura where xp_op=0 order by ID limit 100    ;"/>
    <add key="NSrg" value="UPDATE uyumlog.log_fatura set xp_date = current_date, xp_op = 1, "/>
    <add key="HSrg" value="UPDATE uyumlog.log_fatura set xp_date = current_date, xp_op = 3, "/>
    <add key="DSrg" value="UPDATE uyumlog.log_fatura set xp_op = 9 where id = "/>
    <add key="OD01" value=""/>
    <add key="OD02" value=""/>
    <add key="OD03" value=""/>
    <add key="OD04" value=""/>
    <add key="OD05" value=""/>
    <!--<Null Düzeltmeleri/>-->
    <add key="AlanIcerik1" value=""/>
    <add key="AlanDeger1" value=""/>
    <add key="AlanIcerik2" value=""/>
    <add key="AlanDeger2" value=""/>
    <add key="AlanIcerik3" value=""/>
    <add key="AlanDeger3" value=""/>
    <add key="AlanIcerik4" value=""/>
    <add key="AlanDeger4" value=""/>
    <add key="AlanIcerik5" value=""/>
    <add key="AlanDeger5" value=""/>
    <add key="AlanIcerik6" value=""/>
    <add key="AlanDeger6" value=""/>
    <add key="AlanIcerik7" value=""/>
    <add key="AlanDeger7" value=""/>
    <add key="AlanIcerik8" value=""/>
    <add key="AlanDeger8" value=""/>
    <add key="AlanIcerik9" value=""/>
    <add key="AlanDeger9" value=""/>
    <add key="AlanIcerik10" value=""/>
    <add key="AlanDeger10" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <UyumGatewayService.My.MySettings>
      <setting name="UyumGatewayService_UWS_UyumWebService" serializeAs="String">
        <value>http://192.168.1.6/CustomPrg/XML/ErogluServices.asmx</value>
      </setting>
    </UyumGatewayService.My.MySettings>
  </applicationSettings>
</configuration>
