<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UyumGateway.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <!--<Fatura Aktarım/>-->
    <add key="WSUs" value="uyumsoft"/>
    <add key="WSPs" value="!1qazwsx"/>
    <add key="SRV1URL" value="http://192.168.1.3:8060/webservice/UyumWebService.asmx"/>
    <add key="SRV2URL" value="http://192.168.1.6:8060/webservice/UyumWebService.asmx"/>
    <add key="WSLLU" value="UPDATE uyumlog.log_fatura SET xp_op = 9 WHERE xp_error like '%tekrar eden kayıt%';"/>
    <add key="WSLLG13" value="SELECT * FROM uyumlog.log_fatura where (xp_op=0 or xp_op=3) order by ID limit 100  "/>
    <add key="WSLLG" value="SELECT * FROM uyumlog.log_fatura where xp_op=0  order by ID  limit 100   ;"/>
    <add key="WNSrg" value="UPDATE uyumlog.log_fatura set xp_date = current_date, xp_op = 1, "/>
    <add key="WHSrg" value="UPDATE uyumlog.log_fatura set xp_date = current_date, xp_op = 3, "/>
    <add key="WDSrg" value="UPDATE uyumlog.log_fatura set xp_op = 9 where id = "/>
    <add key="WHr" value="0"/>
    <add key="WMn" value="1"/>

    <!--<Normal Aktarım/>-->
    <add key="SLLU" value="UPDATE uyumlog.log_finans SET xp_op = 9 WHERE xp_error like '%tekrar eden kayıt%';"/>
    <add key="SLLG13" value="SELECT * FROM uyumlog.log_fatura where (xp_op=0 or xp_op=3)   order by ID limit 100   "/>
    <add key="SLLG" value="SELECT * FROM uyumlog.log_fatura where xp_op=0 order by ID limit 100    ;"/>
    <add key="NSrg" value="UPDATE uyumlog.log_fatura set xp_date = current_date, xp_op = 1, "/>
    <add key="HSrg" value="UPDATE uyumlog.log_fatura set xp_date = current_date, xp_op = 3, "/>
    <add key="DSrg" value="UPDATE uyumlog.log_fatura set xp_op = 9 where id = "/>
    <add key="Hr" value="0"/>
    <add key="Mn" value="10"/>
    <add key="OD01" value=""/>
    <add key="OD02" value=""/>
    <add key="OD03" value=""/>
    <add key="OD04" value=""/>
    <add key="OD05" value=""/>

    <!--<Genel/>-->
    <add key="VTB1" value="uyumtest02"/>
    <add key="SRV1" value="192.168.1.3"/>
    <add key="VTB2" value="erogludbtest"/>
    <add key="SRV2" value="192.168.1.6"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <UyumGateway.My.MySettings>
      <setting name="UyumGateway_UWS_UyumWebService" serializeAs="String">
        <value>http://192.168.1.6/webservice/uyumwebservice.asmx</value>
      </setting>
    </UyumGateway.My.MySettings>
  </applicationSettings>
</configuration>
