<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinTexPark2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <WinTexPark2.My.MySettings>
            <setting name="WinTexPark2_tr_com_parkentegrasyon_wstest_EFaturaIntegration"
                serializeAs="String">
                <value>https://wstest.parkentegrasyon.com.tr/EFaturaIntegration.asmx</value>
            </setting>
        </WinTexPark2.My.MySettings>
    </applicationSettings>
</configuration>