<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!--Vardar-->
    <!--<add key="SERVER" value="172.16.10.250" />
    <add key="DATABASE" value="wintexvardar" />
    <add key="USERNAME" value="Wintex2025" />
    <add key="PASSWORD" value="Wintex2025" />

    <add key="SERVER1" value="172.16.10.250" />
    <add key="DATABASE1" value="wintexvardar" />
    <add key="USERNAME1" value="Wintex2025" />
    <add key="PASSWORD1" value="Wintex2025" />

    <add key="SERVER2" value=""/>
    <add key="DATABASE2" value=""/>
    <add key="USERNAME2" value=""/>
    <add key="PASSWORD2" value=""/>

    <add key="SERVER3" value=""/>
    <add key="DATABASE3" value=""/>
    <add key="USERNAME3" value=""/>
    <add key="PASSWORD3" value=""/>

    <add key="SERVER4" value=""/>
    <add key="DATABASE4" value=""/>
    <add key="USERNAME4" value=""/>
    <add key="PASSWORD4" value=""/>

    <add key="SERVER5" value=""/>
    <add key="DATABASE5" value=""/>
    <add key="USERNAME5" value=""/>
    <add key="PASSWORD5" value=""/>

    <add key="SERVER6" value=""/>
    <add key="DATABASE6" value=""/>
    <add key="USERNAME6" value=""/>
    <add key="PASSWORD6" value=""/>

    <add key="SERVER7" value=""/>
    <add key="DATABASE7" value=""/>
    <add key="USERNAME7" value=""/>
    <add key="PASSWORD7" value=""/>

    <add key="SERVER8" value=""/>
    <add key="DATABASE8" value=""/>
    <add key="USERNAME8" value=""/>
    <add key="PASSWORD8" value=""/>

    <add key="SERVER9" value=""/>
    <add key="DATABASE9" value=""/>
    <add key="USERNAME9" value=""/>
    <add key="PASSWORD9" value=""/>

    <add key="SERVER10" value=""/>
    <add key="DATABASE10" value=""/>
    <add key="USERNAME10" value=""/>
    <add key="PASSWORD10" value=""/>

    <add key="WinTexFileShareDomain" value="172.16.10.250"/>
    <add key="WinTexFileSharePath" value="\\172.16.10.250\Wintex"/>
    <add key="WinTexFileShareUsername" value="Wintex2025"/>
    <add key="WinTexFileSharePassword" value="WintexVardar2025"/>-->
    
    <!--Eroğlu holding-->
    <!--<add key="SERVER" value="10.157.31.129" />
    <add key="DATABASE" value="ergarment" />
    <add key="USERNAME" value="wintex" />
    <add key="PASSWORD" value="wintex" />

    <add key="SERVER1" value="10.157.31.129" />
    <add key="DATABASE1" value="ergarment" />
    <add key="USERNAME1" value="wintex" />
    <add key="PASSWORD1" value="wintex" />

    <add key="SERVER2" value=""/>
    <add key="DATABASE2" value=""/>
    <add key="USERNAME2" value=""/>
    <add key="PASSWORD2" value=""/>

    <add key="SERVER3" value=""/>
    <add key="DATABASE3" value=""/>
    <add key="USERNAME3" value=""/>
    <add key="PASSWORD3" value=""/>

    <add key="SERVER4" value=""/>
    <add key="DATABASE4" value=""/>
    <add key="USERNAME4" value=""/>
    <add key="PASSWORD4" value=""/>

    <add key="SERVER5" value=""/>
    <add key="DATABASE5" value=""/>
    <add key="USERNAME5" value=""/>
    <add key="PASSWORD5" value=""/>

    <add key="SERVER6" value=""/>
    <add key="DATABASE6" value=""/>
    <add key="USERNAME6" value=""/>
    <add key="PASSWORD6" value=""/>

    <add key="SERVER7" value=""/>
    <add key="DATABASE7" value=""/>
    <add key="USERNAME7" value=""/>
    <add key="PASSWORD7" value=""/>

    <add key="SERVER8" value=""/>
    <add key="DATABASE8" value=""/>
    <add key="USERNAME8" value=""/>
    <add key="PASSWORD8" value=""/>

    <add key="SERVER9" value=""/>
    <add key="DATABASE9" value=""/>
    <add key="USERNAME9" value=""/>
    <add key="PASSWORD9" value=""/>

    <add key="SERVER10" value=""/>
    <add key="DATABASE10" value=""/>
    <add key="USERNAME10" value=""/>
    <add key="PASSWORD10" value=""/>

    <add key="WinTexFileShareDomain" value="10.157.31.129"/>
    <add key="WinTexFileSharePath" value="\\10.157.31.129\Wintex"/>
    <add key="WinTexFileShareUsername" value="Okan.sokmen"/>
    <add key="WinTexFileSharePassword" value="Okn12345"/>-->

    <!--Vera-->
    <!--<add key="SERVER" value="192.168.1.216" />
    <add key="DATABASE" value="veragroup" />
    <add key="USERNAME" value="sa" />
    <add key="PASSWORD" value="wintex" />

    <add key="SERVER1" value="192.168.1.216" />
    <add key="DATABASE1" value="veragroup" />
    <add key="USERNAME1" value="sa" />
    <add key="PASSWORD1" value="wintex" />

    <add key="SERVER2" value=""/>
    <add key="DATABASE2" value=""/>
    <add key="USERNAME2" value=""/>
    <add key="PASSWORD2" value=""/>

    <add key="SERVER3" value=""/>
    <add key="DATABASE3" value=""/>
    <add key="USERNAME3" value=""/>
    <add key="PASSWORD3" value=""/>

    <add key="SERVER4" value=""/>
    <add key="DATABASE4" value=""/>
    <add key="USERNAME4" value=""/>
    <add key="PASSWORD4" value=""/>

    <add key="SERVER5" value=""/>
    <add key="DATABASE5" value=""/>
    <add key="USERNAME5" value=""/>
    <add key="PASSWORD5" value=""/>

    <add key="SERVER6" value=""/>
    <add key="DATABASE6" value=""/>
    <add key="USERNAME6" value=""/>
    <add key="PASSWORD6" value=""/>

    <add key="SERVER7" value=""/>
    <add key="DATABASE7" value=""/>
    <add key="USERNAME7" value=""/>
    <add key="PASSWORD7" value=""/>

    <add key="SERVER8" value=""/>
    <add key="DATABASE8" value=""/>
    <add key="USERNAME8" value=""/>
    <add key="PASSWORD8" value=""/>

    <add key="SERVER9" value=""/>
    <add key="DATABASE9" value=""/>
    <add key="USERNAME9" value=""/>
    <add key="PASSWORD9" value=""/>

    <add key="SERVER10" value=""/>
    <add key="DATABASE10" value=""/>
    <add key="USERNAME10" value=""/>
    <add key="PASSWORD10" value=""/>

    <add key="WinTexFileShareDomain" value="192.168.1.216"/>
    <add key="WinTexFileSharePath" value="\\192.168.1.216\wintex"/>
    <add key="WinTexFileShareUsername" value="wintex"/>
    <add key="WinTexFileSharePassword" value="wintex"/>-->

    <!--Debug-->
    <!--<add key="SERVER" value="MONSTER" />
    <add key="DATABASE" value="tes" />
    <add key="USERNAME" value="sa" />
    <add key="PASSWORD" value="Hayabusa1024" />

    <add key="SERVER1" value="MONSTER" />
    <add key="DATABASE1" value="tes" />
    <add key="USERNAME1" value="sa" />
    <add key="PASSWORD1" value="Hayabusa1024" />

    <add key="SERVER2" value=""/>
    <add key="DATABASE2" value=""/>
    <add key="USERNAME2" value=""/>
    <add key="PASSWORD2" value=""/>

    <add key="SERVER3" value=""/>
    <add key="DATABASE3" value=""/>
    <add key="USERNAME3" value=""/>
    <add key="PASSWORD3" value=""/>

    <add key="SERVER4" value=""/>
    <add key="DATABASE4" value=""/>
    <add key="USERNAME4" value=""/>
    <add key="PASSWORD4" value=""/>

    <add key="SERVER5" value=""/>
    <add key="DATABASE5" value=""/>
    <add key="USERNAME5" value=""/>
    <add key="PASSWORD5" value=""/>

    <add key="SERVER6" value=""/>
    <add key="DATABASE6" value=""/>
    <add key="USERNAME6" value=""/>
    <add key="PASSWORD6" value=""/>

    <add key="SERVER7" value=""/>
    <add key="DATABASE7" value=""/>
    <add key="USERNAME7" value=""/>
    <add key="PASSWORD7" value=""/>

    <add key="SERVER8" value=""/>
    <add key="DATABASE8" value=""/>
    <add key="USERNAME8" value=""/>
    <add key="PASSWORD8" value=""/>

    <add key="SERVER9" value=""/>
    <add key="DATABASE9" value=""/>
    <add key="USERNAME9" value=""/>
    <add key="PASSWORD9" value=""/>

    <add key="SERVER10" value=""/>
    <add key="DATABASE10" value=""/>
    <add key="USERNAME10" value=""/>
    <add key="PASSWORD10" value=""/>

    <add key="WinTexFileShareDomain" value="MONSTER"/>
    <add key="WinTexFileSharePath" value="\\vmware-host\Shared Folders\C\wintex"/>
    <add key="WinTexFileShareUsername" value="okansokmen@hotmail.com"/>
    <add key="WinTexFileSharePassword" value="Hayabusa1024"/>-->

    <!--OXXO-->
    <!--<add key="SERVER" value="192.1.0.34" />
    <add key="DATABASE" value="wintex" />
    <add key="USERNAME" value="sa_wintex" />
    <add key="PASSWORD" value="saWinteX21@OXXO" />

    <add key="SERVER1" value="192.1.0.34" />
    <add key="DATABASE1" value="wintex" />
    <add key="USERNAME1" value="sa_wintex" />
    <add key="PASSWORD1" value="saWinteX21@OXXO" />

    <add key="SERVER2" value=""/>
    <add key="DATABASE2" value=""/>
    <add key="USERNAME2" value=""/>
    <add key="PASSWORD2" value=""/>

    <add key="SERVER3" value=""/>
    <add key="DATABASE3" value=""/>
    <add key="USERNAME3" value=""/>
    <add key="PASSWORD3" value=""/>

    <add key="SERVER4" value=""/>
    <add key="DATABASE4" value=""/>
    <add key="USERNAME4" value=""/>
    <add key="PASSWORD4" value=""/>

    <add key="SERVER5" value=""/>
    <add key="DATABASE5" value=""/>
    <add key="USERNAME5" value=""/>
    <add key="PASSWORD5" value=""/>

    <add key="SERVER6" value=""/>
    <add key="DATABASE6" value=""/>
    <add key="USERNAME6" value=""/>
    <add key="PASSWORD6" value=""/>

    <add key="SERVER7" value=""/>
    <add key="DATABASE7" value=""/>
    <add key="USERNAME7" value=""/>
    <add key="PASSWORD7" value=""/>

    <add key="SERVER8" value=""/>
    <add key="DATABASE8" value=""/>
    <add key="USERNAME8" value=""/>
    <add key="PASSWORD8" value=""/>

    <add key="SERVER9" value=""/>
    <add key="DATABASE9" value=""/>
    <add key="USERNAME9" value=""/>
    <add key="PASSWORD9" value=""/>

    <add key="SERVER10" value=""/>
    <add key="DATABASE10" value=""/>
    <add key="USERNAME10" value=""/>
    <add key="PASSWORD10" value=""/>

    <add key="WinTexFileShareDomain" value="192.1.0.23"/>
    <add key="WinTexFileSharePath" value="\\192.1.0.23\Wintex"/>
    <add key="WinTexFileShareUsername" value="okansokmen"/>
    <add key="WinTexFileSharePassword" value="Okan2022"/>-->

    <!--Bolero-->
    <!--<add key="SERVER" value="10.0.100.248" />
    <add key="DATABASE" value="bolero" />
    <add key="USERNAME" value="sa" />
    <add key="PASSWORD" value="Bolerotex2019@.!" />

    <add key="SERVER1" value="10.0.100.248" />
    <add key="DATABASE1" value="bolero" />
    <add key="USERNAME1" value="sa" />
    <add key="PASSWORD1" value="Bolerotex2019@.!" />

    <add key="SERVER2" value=""/>
    <add key="DATABASE2" value=""/>
    <add key="USERNAME2" value=""/>
    <add key="PASSWORD2" value=""/>

    <add key="SERVER3" value=""/>
    <add key="DATABASE3" value=""/>
    <add key="USERNAME3" value=""/>
    <add key="PASSWORD3" value=""/>

    <add key="SERVER4" value=""/>
    <add key="DATABASE4" value=""/>
    <add key="USERNAME4" value=""/>
    <add key="PASSWORD4" value=""/>

    <add key="SERVER5" value=""/>
    <add key="DATABASE5" value=""/>
    <add key="USERNAME5" value=""/>
    <add key="PASSWORD5" value=""/>

    <add key="SERVER6" value=""/>
    <add key="DATABASE6" value=""/>
    <add key="USERNAME6" value=""/>
    <add key="PASSWORD6" value=""/>

    <add key="SERVER7" value=""/>
    <add key="DATABASE7" value=""/>
    <add key="USERNAME7" value=""/>
    <add key="PASSWORD7" value=""/>

    <add key="SERVER8" value=""/>
    <add key="DATABASE8" value=""/>
    <add key="USERNAME8" value=""/>
    <add key="PASSWORD8" value=""/>

    <add key="SERVER9" value=""/>
    <add key="DATABASE9" value=""/>
    <add key="USERNAME9" value=""/>
    <add key="PASSWORD9" value=""/>

    <add key="SERVER10" value=""/>
    <add key="DATABASE10" value=""/>
    <add key="USERNAME10" value=""/>
    <add key="PASSWORD10" value=""/>

    <add key="WinTexFileShareDomain" value="10.0.100.248"/>
    <add key="WinTexFileSharePath" value="\\10.0.100.248\Wintex-Dosyalar"/>
    <add key="WinTexFileShareUsername" value="administrator"/>
    <add key="WinTexFileSharePassword" value="M@uspro2020!!"/>-->

    <!--Gecit-->
    <!-- <add key="SERVER" value="10.10.44.252" />
    <add key="DATABASE" value="gecit" />
    <add key="USERNAME" value="wintex" />
    <add key="PASSWORD" value="wintex" />

    <add key="SERVER1" value="10.10.44.252" />
    <add key="DATABASE1" value="gecit" />
    <add key="USERNAME1" value="wintex" />
    <add key="PASSWORD1" value="wintex" />

    <add key="SERVER2" value=""/>
    <add key="DATABASE2" value=""/>
    <add key="USERNAME2" value=""/>
    <add key="PASSWORD2" value=""/>

    <add key="SERVER3" value=""/>
    <add key="DATABASE3" value=""/>
    <add key="USERNAME3" value=""/>
    <add key="PASSWORD3" value=""/>

    <add key="SERVER4" value=""/>
    <add key="DATABASE4" value=""/>
    <add key="USERNAME4" value=""/>
    <add key="PASSWORD4" value=""/>

    <add key="SERVER5" value=""/>
    <add key="DATABASE5" value=""/>
    <add key="USERNAME5" value=""/>
    <add key="PASSWORD5" value=""/>

    <add key="SERVER6" value=""/>
    <add key="DATABASE6" value=""/>
    <add key="USERNAME6" value=""/>
    <add key="PASSWORD6" value=""/>

    <add key="SERVER7" value=""/>
    <add key="DATABASE7" value=""/>
    <add key="USERNAME7" value=""/>
    <add key="PASSWORD7" value=""/>

    <add key="SERVER8" value=""/>
    <add key="DATABASE8" value=""/>
    <add key="USERNAME8" value=""/>
    <add key="PASSWORD8" value=""/>

    <add key="SERVER9" value=""/>
    <add key="DATABASE9" value=""/>
    <add key="USERNAME9" value=""/>
    <add key="PASSWORD9" value=""/>

    <add key="SERVER10" value=""/>
    <add key="DATABASE10" value=""/>
    <add key="USERNAME10" value=""/>
    <add key="PASSWORD10" value=""/>

    <add key="WinTexFileShareDomain" value="10.10.44.253"/>
    <add key="WinTexFileSharePath" value="\\10.10.44.253\Wintex"/>
    <add key="WinTexFileShareUsername" value="administrator"/>
    <add key="WinTexFileSharePassword" value="Gecit2020-"/>-->

    <!--Akay-->    
    <!--<add key="SERVER" value="192.168.2.103"/>
    <add key="DATABASE" value="akay"/>
    <add key="USERNAME" value="sa"/>
    <add key="PASSWORD" value="Akay121200"/>

    <add key="SERVER1" value="192.168.2.103"/>
    <add key="DATABASE1" value="akay"/>
    <add key="USERNAME1" value="sa"/>
    <add key="PASSWORD1" value="Akay121200"/>

    <add key="SERVER2" value=""/>
    <add key="DATABASE2" value=""/>
    <add key="USERNAME2" value=""/>
    <add key="PASSWORD2" value=""/>

    <add key="SERVER3" value=""/>
    <add key="DATABASE3" value=""/>
    <add key="USERNAME3" value=""/>
    <add key="PASSWORD3" value=""/>

    <add key="SERVER4" value=""/>
    <add key="DATABASE4" value=""/>
    <add key="USERNAME4" value=""/>
    <add key="PASSWORD4" value=""/>

    <add key="SERVER5" value=""/>
    <add key="DATABASE5" value=""/>
    <add key="USERNAME5" value=""/>
    <add key="PASSWORD5" value=""/>

    <add key="SERVER6" value=""/>
    <add key="DATABASE6" value=""/>
    <add key="USERNAME6" value=""/>
    <add key="PASSWORD6" value=""/>

    <add key="SERVER7" value=""/>
    <add key="DATABASE7" value=""/>
    <add key="USERNAME7" value=""/>
    <add key="PASSWORD7" value=""/>

    <add key="SERVER8" value=""/>
    <add key="DATABASE8" value=""/>
    <add key="USERNAME8" value=""/>
    <add key="PASSWORD8" value=""/>

    <add key="SERVER9" value=""/>
    <add key="DATABASE9" value=""/>
    <add key="USERNAME9" value=""/>
    <add key="PASSWORD9" value=""/>

    <add key="SERVER10" value=""/>
    <add key="DATABASE10" value=""/>
    <add key="USERNAME10" value=""/>
    <add key="PASSWORD10" value=""/>

    <add key="WinTexFileShareDomain" value="192.168.2.103"/>
    <add key="WinTexFileSharePath" value="\\192.168.2.103\Wintex"/>
    <add key="WinTexFileShareUsername" value="administrator"/>
    <add key="WinTexFileSharePassword" value="NM121200."/>-->

    <!--Eroğlu Giyim-->    
    <add key="SERVER" value="192.168.1.8"/>
    <add key="DATABASE" value="TES"/>
    <add key="USERNAME" value="sa"/>
    <add key="PASSWORD" value="er1303*?"/>

    <add key="SERVER1" value="192.168.1.8"/>
    <add key="DATABASE1" value="TES"/>
    <add key="USERNAME1" value="sa"/>
    <add key="PASSWORD1" value="er1303*?"/>

    <add key="SERVER2" value="192.168.1.8"/>
    <add key="DATABASE2" value="MISIR"/>
    <add key="USERNAME2" value="sa"/>
    <add key="PASSWORD2" value="er1303*?"/>

    <add key="SERVER3" value="192.168.1.8"/>
    <add key="DATABASE3" value="TESDENEME"/>
    <add key="USERNAME3" value="sa"/>
    <add key="PASSWORD3" value="er1303*?"/>

    <add key="SERVER4" value=""/>
    <add key="DATABASE4" value=""/>
    <add key="USERNAME4" value=""/>
    <add key="PASSWORD4" value=""/>

    <add key="SERVER5" value=""/>
    <add key="DATABASE5" value=""/>
    <add key="USERNAME5" value=""/>
    <add key="PASSWORD5" value=""/>

    <add key="SERVER6" value=""/>
    <add key="DATABASE6" value=""/>
    <add key="USERNAME6" value=""/>
    <add key="PASSWORD6" value=""/>

    <add key="SERVER7" value=""/>
    <add key="DATABASE7" value=""/>
    <add key="USERNAME7" value=""/>
    <add key="PASSWORD7" value=""/>

    <add key="SERVER8" value=""/>
    <add key="DATABASE8" value=""/>
    <add key="USERNAME8" value=""/>
    <add key="PASSWORD8" value=""/>

    <add key="SERVER9" value=""/>
    <add key="DATABASE9" value=""/>
    <add key="USERNAME9" value=""/>
    <add key="PASSWORD9" value=""/>

    <add key="SERVER10" value=""/>
    <add key="DATABASE10" value=""/>
    <add key="USERNAME10" value=""/>
    <add key="PASSWORD10" value=""/>

    <add key="WinTexFileShareDomain" value="192.168.1.11"/>
    <add key="WinTexFileSharePath" value="\\192.168.1.57\Wintex"/>
    <add key="WinTexFileShareUsername" value="wintex"/>
    <add key="WinTexFileSharePassword" value="W456s456+"/>

    <add key="StyleShootsKaynakDomain" value="192.168.10.127"/>
    <add key="StyleShootsKaynakPath" value="\\192.168.10.127\styleshoots"/>
    <add key="StyleShootsKaynakUsername" value="styleshootssharing"/>
    <add key="StyleShootsKaynakPassword" value="eroglushare"/>

    <add key="StyleShootsHedefDomain" value="192.168.1.204"/>
    <add key="StyleShootsHedefPath" value="\\192.168.1.204\styleshoots"/>
    <add key="StyleShootsHedefUsername" value="wintex"/>
    <add key="StyleShootsHedefPassword" value="W456s456+"/>

    <!--Dönsa-->    
    <!--<add key="SERVER" value="192.168.0.2"/>
    <add key="DATABASE" value="donsa"/>
    <add key="USERNAME" value="sa"/>
    <add key="PASSWORD" value="121200"/>

    <add key="SERVER1" value="192.168.0.2"/>
    <add key="DATABASE1" value="donsa"/>
    <add key="USERNAME1" value="sa"/>
    <add key="PASSWORD1" value="121200"/>

    <add key="SERVER2" value=""/>
    <add key="DATABASE2" value=""/>
    <add key="USERNAME2" value=""/>
    <add key="PASSWORD2" value=""/>

    <add key="SERVER3" value=""/>
    <add key="DATABASE3" value=""/>
    <add key="USERNAME3" value=""/>
    <add key="PASSWORD3" value=""/>

    <add key="SERVER4" value=""/>
    <add key="DATABASE4" value=""/>
    <add key="USERNAME4" value=""/>
    <add key="PASSWORD4" value=""/>

    <add key="SERVER5" value=""/>
    <add key="DATABASE5" value=""/>
    <add key="USERNAME5" value=""/>
    <add key="PASSWORD5" value=""/>

    <add key="SERVER6" value=""/>
    <add key="DATABASE6" value=""/>
    <add key="USERNAME6" value=""/>
    <add key="PASSWORD6" value=""/>

    <add key="SERVER7" value=""/>
    <add key="DATABASE7" value=""/>
    <add key="USERNAME7" value=""/>
    <add key="PASSWORD7" value=""/>

    <add key="SERVER8" value=""/>
    <add key="DATABASE8" value=""/>
    <add key="USERNAME8" value=""/>
    <add key="PASSWORD8" value=""/>

    <add key="SERVER9" value=""/>
    <add key="DATABASE9" value=""/>
    <add key="USERNAME9" value=""/>
    <add key="PASSWORD9" value=""/>

    <add key="SERVER10" value=""/>
    <add key="DATABASE10" value=""/>
    <add key="USERNAME10" value=""/>
    <add key="PASSWORD10" value=""/>

    <add key="WinTexFileShareDomain" value="192.168.0.2"/>
    <add key="WinTexFileSharePath" value="\\192.168.0.2\Wintex"/>
    <add key="WinTexFileShareUsername" value="administrator"/>
    <add key="WinTexFileSharePassword" value="NM1368rin."/>-->
    
    <!--Darinda-->

    <!--<add key="SERVER" value="192.168.1.35"/>
    <add key="DATABASE" value="darinda"/>
    <add key="USERNAME" value="sa"/>
    <add key="PASSWORD" value="Darinda2020-"/>

    <add key="SERVER1" value="192.168.1.35"/>
    <add key="DATABASE1" value="darinda"/>
    <add key="USERNAME1" value="sa"/>
    <add key="PASSWORD1" value="Darinda2020-"/>

    <add key="SERVER2" value=""/>
    <add key="DATABASE2" value=""/>
    <add key="USERNAME2" value=""/>
    <add key="PASSWORD2" value=""/>

    <add key="SERVER3" value=""/>
    <add key="DATABASE3" value=""/>
    <add key="USERNAME3" value=""/>
    <add key="PASSWORD3" value=""/>

    <add key="SERVER4" value=""/>
    <add key="DATABASE4" value=""/>
    <add key="USERNAME4" value=""/>
    <add key="PASSWORD4" value=""/>

    <add key="SERVER5" value=""/>
    <add key="DATABASE5" value=""/>
    <add key="USERNAME5" value=""/>
    <add key="PASSWORD5" value=""/>

    <add key="SERVER6" value=""/>
    <add key="DATABASE6" value=""/>
    <add key="USERNAME6" value=""/>
    <add key="PASSWORD6" value=""/>

    <add key="SERVER7" value=""/>
    <add key="DATABASE7" value=""/>
    <add key="USERNAME7" value=""/>
    <add key="PASSWORD7" value=""/>

    <add key="SERVER8" value=""/>
    <add key="DATABASE8" value=""/>
    <add key="USERNAME8" value=""/>
    <add key="PASSWORD8" value=""/>

    <add key="SERVER9" value=""/>
    <add key="DATABASE9" value=""/>
    <add key="USERNAME9" value=""/>
    <add key="PASSWORD9" value=""/>

    <add key="SERVER10" value=""/>
    <add key="DATABASE10" value=""/>
    <add key="USERNAME10" value=""/>
    <add key="PASSWORD10" value=""/>

    <add key="WinTexFileShareDomain" value="192.168.1.36"/>
    <add key="WinTexFileSharePath" value="\\192.168.1.36\Wintex"/>
    <add key="WinTexFileShareUsername" value="administrator"/>
    <add key="WinTexFileSharePassword" value="Darinda2020-"/>-->
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MusteriKargoSiparisSoap"/>
        <binding name="SorguSoap11Binding"/>
        <binding name="SorguSoap11Binding1">
          <security mode="Transport"/>
        </binding>
        <binding name="SorguSoap11Binding2"/>
        <binding name="SorguSoap11Binding3">
          <security mode="Transport"/>
        </binding>
        <binding name="SorguSoap11Binding4"/>
        <binding name="BasicHttpBinding_IUrunServis">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_ICustomServis">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_IUyeServis">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_ISiparisServis">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="MusteriKargoSiparisSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
        <binding name="SorguSoap12Binding">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
        <binding name="SorguSoap12Binding1">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
        <binding name="SorguSoap12Binding2">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://service.mngkargo.com.tr/tservis/musterikargosiparis.asmx" binding="basicHttpBinding" bindingConfiguration="MusteriKargoSiparisSoap" contract="musterikargosiparis.MusteriKargoSiparisSoap" name="MusteriKargoSiparisSoap"/>
      <endpoint address="http://service.mngkargo.com.tr/tservis/musterikargosiparis.asmx" binding="customBinding" bindingConfiguration="MusteriKargoSiparisSoap12" contract="musterikargosiparis.MusteriKargoSiparisSoap" name="MusteriKargoSiparisSoap12"/>
      <endpoint address="https://pttws.ptt.gov.tr/PttVeriYukleme/services/Sorgu.SorguHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="SorguSoap11Binding" contract="PTTService.SorguPortType" name="SorguHttpSoap11Endpoint"/>
      <endpoint address="https://pttws.ptt.gov.tr/PttVeriYukleme/services/Sorgu.SorguHttpSoap12Endpoint/" binding="customBinding" bindingConfiguration="SorguSoap12Binding" contract="PTTService.SorguPortType" name="SorguHttpSoap12Endpoint"/>
      <endpoint address="https://pttws.ptt.gov.tr/PttBilgi/services/Sorgu*" binding="basicHttpBinding" bindingConfiguration="SorguSoap11Binding1" contract="PTTBilgi.SorguPortType" name="SorguHttpSoap11Endpoint1"/>
      <endpoint address="https://pttws.ptt.gov.tr/PttBilgi/services/Sorgu*" binding="customBinding" bindingConfiguration="SorguSoap12Binding1" contract="PTTBilgi.SorguPortType" name="SorguHttpSoap12Endpoint1"/>
      <endpoint address="https://pttws.ptt.gov.tr/GonderiTakipV2/services/Sorgu*" binding="basicHttpBinding" bindingConfiguration="SorguSoap11Binding3" contract="PTTGonderiTakipV2.SorguPortType" name="SorguHttpSoap11Endpoint2"/>
      <endpoint address="https://pttws.ptt.gov.tr/GonderiTakipV2/services/Sorgu*" binding="customBinding" bindingConfiguration="SorguSoap12Binding2" contract="PTTGonderiTakipV2.SorguPortType" name="SorguHttpSoap12Endpoint2"/>
      <endpoint address="https://benimpabucum.com/servis/UrunServis.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUrunServis" contract="UrunServis.IUrunServis" name="BasicHttpBinding_IUrunServis"/>
      <endpoint address="https://benimpabucum.com/servis/CustomServis.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomServis" contract="CustomServis.ICustomServis" name="BasicHttpBinding_ICustomServis"/>
      <endpoint address="https://benimpabucum.com/servis/UyeServis.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUyeServis" contract="UyeServis.IUyeServis" name="BasicHttpBinding_IUyeServis"/>
      <endpoint address="https://benimpabucum.com/servis/SiparisServis.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISiparisServis" contract="SiparisServis.ISiparisServis" name="BasicHttpBinding_ISiparisServis"/>
      <!--<endpoint address="http://ee.econt.com/services/ThreeWayLogistics/ThreeWayLogisticsService.soap"
          binding="basicHttpBinding" bindingConfiguration="ThreeWayLogisticsServiceBinding"
          contract="eContThreeWayLogistics.ThreeWayLogisticsService"
          name="ThreeWayLogisticsService" />
      <endpoint address="http://ee.econt.com/services/PaymentReport/PaymentReportService.soap"
          binding="basicHttpBinding" bindingConfiguration="PaymentReportServiceBinding"
          contract="eContPaymentreport.PaymentReportService" name="PaymentReportService" />-->
    </client>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
