<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <appSettings>
        <add key="SERVER" value="192.168.1.8"/>
        <add key="DATABASE" value="TES"/>
        <add key="USERNAME" value="sa"/>
        <add key="PASSWORD" value="er1303*?"/>
    </appSettings>
</configuration>
