<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <system.serviceModel>
        <behaviors>
          <serviceBehaviors>
            <behavior name="debug">
              <serviceDebug includeExceptionDetailInFaults="true"/>
            </behavior>
          </serviceBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUrunServis">
                    <security mode="Transport"/>
                </binding>
                <binding name="BasicHttpBinding_ICustomServis">
                    <security mode="Transport"/>
                </binding>
                <binding name="BasicHttpBinding_IUyeServis">
                    <security mode="Transport"/>
                </binding>
                <binding name="BasicHttpBinding_ISiparisServis">
                    <security mode="Transport"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://benimpabucum.com/servis/UrunServis.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUrunServis" contract="UrunServis.IUrunServis" name="BasicHttpBinding_IUrunServis"/>
            <endpoint address="https://benimpabucum.com/servis/CustomServis.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomServis" contract="CustomServis.ICustomServis" name="BasicHttpBinding_ICustomServis"/>
            <endpoint address="https://benimpabucum.com/servis/UyeServis.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUyeServis" contract="UyeServis.IUyeServis" name="BasicHttpBinding_IUyeServis"/>
            <endpoint address="https://benimpabucum.com/servis/SiparisServis.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISiparisServis" contract="SiparisServis.ISiparisServis" name="BasicHttpBinding_ISiparisServis"/>
        </client>
    </system.serviceModel>
</configuration>
